.login {
  &_form {
    padding: 50px 30px;
    max-width: 700px;
    margin: 80px auto;
    background-color: #f7f7f7;
    border-radius: 5px;
  }

  &_navigate {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid #e5e5e5;

    a {
      color: #686464;
    }
  }
}

.form {
  &_group {
    padding: 13px 20px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;

    input {
      width: 100%;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 500px) {
  .login {
    &_navigate {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
