.product {
  &_cart {
    overflow: hidden;
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 30px;
    padding: 10px;
    background: #fff;
  }

  &_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 10px;
    overflow: hidden;

    img {
      position: relative;
      transition-duration: 0.3s;
      width: 450px;
      transform: scale(0.75);
      z-index: 1;
    }

    &:hover {
      cursor: pointer;
      img {
        transition-duration: 0.5s;
        transform: scale(1);
      }
    }

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      height: 50%;
      background-color: $primary-color;
      opacity: 0.1;
      transition-duration: 0.5s;
    }

    &:hover:after {
      transition-duration: 0.3s;
      height: 100%;
      opacity: 1;
    }
  }

  &_infor {
    padding: 10px;
  }

  &_desc {
    font-size: $small-font-size;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    margin-bottom: 0;

    .product_price {
      &-normal.sale {
        color: #999999;
        text-decoration: line-through;
      }

      &-sale {
        margin-left: 10px;
        color: $primary-color;
      }
    }
  }

  &_icon {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    background-color: $primary-color;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}
