.shop {
  .ant-pagination {
    margin-top: 50px;
    text-align: center;
  }

  &_breadcrumb {
    background-image: url("../images/breadcrumb.jpg");
  }

  &_container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
  }

  &_products {
    position: relative;
    grid-template-columns: 1fr;
    row-gap: 36px;
    height: max-content;
  }

  &_sidebar {
    display: none;
  }
}

.sidebar {
  &_item {
    margin-bottom: 40px;

    .ant-tag {
      border-radius: 5px;
      padding: 5px 10px;

      span {
        margin-left: 10px;
      }
    }
  }

  &_title {
    color: black;
    font-size: 20px;
    font-weight: $font-semibold;
    margin-bottom: 10px;
  }

  &_tag {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
  }

  &_title-cate {
    padding-left: 20px;
  }

  &_category {
    padding: 8px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
  }

  &_price {
    .ant-slider-track,
    .ant-slider-handle {
      background-color: $primary-color;
    }

    .ant-slider-handle {
      border-color: $primary-color;
    }

    .ant-slider:hover .ant-slider-track {
      background-color: $primary-color;
    }

    .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
      border-color: $primary-color;
    }

    .btn-filter {
      padding: 6px 18px;
    }
  }

  &_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbf7e8;
    border-radius: 8px;
    padding: 20px;

    input {
      background: none;
    }

    i {
      color: black;
      font-size: 20px;
      font-weight: $font-semibold;
    }
  }
}

.category {
  &_list {
    background-color: #fbf7e8;
    border-radius: 16px;
    margin-bottom: 0;
  }

  &_item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px 20px;
    cursor: pointer;

    i {
      font-size: 24px;
    }

    &:not(&:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }
  }
}

.history {
  &_item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 4px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;

    .image {
      width: 100px;
      height: 100px;
      background-color: #f7f4ef;
      border-radius: 24px;
    }

    .infor {
      &-start i {
        color: $primary-color;
      }

      &-name {
        font-size: 1rem;
        font-weight: $font-semibold;
        color: black;
        margin: 5px 0;
      }
    }
  }
}

.product_notfound {
  grid-column: span 3;
}

@media screen and (min-width: 450px) {
  .shop {
    &_products {
      grid-template-columns: 1fr 1fr;
      gap: 36px;
    }
  }
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 999;

  i {
    position: absolute;
    left: 50%;
    top: 20%;
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .shop {
    &_products {
      grid-template-columns: repeat(3, 1fr);
      gap: 36px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .shop {
    &_container {
      grid-template-columns: 3fr 1fr;
    }

    &_sidebar {
      display: block;
    }
  }
}
